{:paths ["src"]

 :deps {com.taoensso/timbre {:mvn/version "4.10.0"}
        expound             {:mvn/version "0.7.2"}
        hiccup              {:mvn/version "1.0.5"}}

 :aliases {:dev {:extra-paths ["test" "example"]
                 :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
                 :extra-deps  {org.clojure/clojure  {:mvn/version "1.10.1"}
                               thheller/shadow-cljs {:mvn/version "2.8.59"}

                               org.clojure/test.check            {:mvn/version "0.10.0"}
                               lambdaisland/kaocha               {:mvn/version "0.0-554"}
                               com.fulcrologic/fulcro            {:mvn/version "3.0.1"}
                               com.fulcrologic/fulcro-garden-css {:mvn/version "3.0.7"}}}

           :outdated {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
                      :main-opts  ["-m" "depot.outdated.main"]}}}
