{:deps  {:aliases [:dev]}
 :nrepl {:middleware [refactor-nrepl.middleware/wrap-refactor]}

 :builds {:app
          {:target      :browser
           :output-dir  "public/js"
           :asset-path  "/js"
           :build-hooks [(shadow-cljs-hooks.core/index {:entry-point app.main/init})]
           :modules     {:main {:entries [app.main]}}

           :release {:module-hash-names true
                     :output-dir        "build/js"
                     :build-hooks       [(shadow-cljs-hooks.core/index {:entry-point app.main/init})]}

           :devtools {:after-load app.main/refresh
                      :preloads   [com.fulcrologic.fulcro.inspect.preload] ;; fulcro  specific
                      :http-root  "public"
                      :http-port  8080}}}}
