{:deps   {:aliases [:dev]}
 :builds {:app
          {:target      :browser
           :output-dir  "public/js"
           :asset-path  "/js"
           :build-hooks [(shadow-cljs-hooks.core/index {:entry-point app.main/init})]
           :modules     {:main {:entries [app.main]}}

           :release {:module-hash-names true
                     :output-dir        "build/js"
                     :build-hooks [(shadow-cljs-hooks.core/index {:entry-point app.main/init})]}

           :devtools {:http-root "public"
                      :http-port 8080}}}}
